registry=https://nexus.sits.no/repository/npm-all/ 
//nexus.sits.no/repository/npm-internal/:username=${NEXUS_USERNAME}
//nexus.sits.no/repository/npm-internal/:_password=${NEXUS_PASSWORD}
//nexus.sits.no/repository/npm-all/:username=${NEXUS_USERNAME} 
//nexus.sits.no/repository/npm-all/:_password=${NEXUS_PASSWORD}